<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="PersistenceKey" value="wkKL6Wh0JqGKlt6NQm0GzO2R0sz6aqgECO+rcHVjt+0=" />
  <add key="PersistenceIV" value="C+RR+dT5qC/oVASLNcWJmw==" />
</appSettings>